benchtable-intro.html
benchtable-intro.md
benchtable-intro.pdf
benchtable-intro.tex
dt.RData
j_bsub_lmFit.sh
j_lmFit.R
job_lmFit_10_.RData
job_lmFit_15_.RData
job_lmFit_16_.RData
job_lmFit_1_.RData
job_lmFit_20_.RData
job_lmFit_2_.RData
job_lmFit_35_.RData
job_lmFit_4_.RData
job_lmFit_5_.RData
job_lmFit_7_.RData
job_lmFit_8_.RData
job_lmFit_9_.RData
